@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <h1>Newest Stories</h1>
    </div>

    <div class="col-12 text-primary" id="spinner"></div>

    <div class="row" style="height: 700px">

        <ul class="list-group">
            <li ng-repeat="story in storyList" class="list-group-item">
                <span class="badge">{{story.score}}</span><h4><span><a ng-href="{{story.url}}" target="_blank">{{story.title}}</a></span></h4>
                <span>Posted By: {{story.author}} at {{story.postTime}}</span>
            </li>
        </ul>

    </div>

</div>
