@{
    ViewData["Title"] = "Home Page";
}

<div class="container" ng-controller="HackerNewsAPIController">
    <div class="row">
        <h1>Newest Stories</h1>
    </div>
    <div class="row" style="height: 700px">

        <hacker-news-stories></hacker-news-stories>

    </div>
</div>
